<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whaler.oasys.mapper.OperatorMapper">
    <insert id="insertOperatorEntity">
        insert into operator_processinstance(operator_id, processinstance_id) 
        values (#{operatorId}, #{processinstanceId})
    </insert>

    <delete id="deleteOperatorEntity">
        delete from operator_processinstance where operator_id = #{operatorId} and processinstance_id = #{processinstanceId}
    </delete>
    
    <select id="selectByOperatorId" resultType="com.whaler.oasys.model.entity.OperatorEntity">
        select * from operator_processinstance where operator_id = #{operatorId}
    </select>
</mapper>